# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
design/
plan/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
Unconfirmed*
lumora.apk*

# Native
.kotlin/
*.orig.*
*.apk
*aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision
CLAUDE.md
.claude
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
*.af
*.rar
*.zip
example

# generated native folders
/ios
/android

# EAS
 eas-build-*.json

# build artifacts
*.apk
*.aab
*.jks
google-service-account.json
